<a href="https://colab.research.google.com/github/AashiDutt/Data-Analysis-and-Visualization/blob/main/cardiovascular_disease_M_F_cohorts_Kaggle_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**About Dataset:**

It is population weighted worldwide data on male and female cohorts ages 15-69 years including cardiovascular disease early death and associated dietary, metabolic and other risk factors.


The purpose of creating this formatted database is to explore the univariate and multiple regression correlations of cardiovascular early deaths and other health outcomes with risk factors.

Find Dataset [here](https://www.kaggle.com/ishadss/kkkkkk)

Get tool to read/write excel dataset

In [1]:
pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (2.5.9)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.4.1)

In [2]:
# Imports

import pandas as pd

In [8]:
df = pd.read_excel('/content/wtedCVDRfsCov2017.xlsx')

Let's explore dataset

In [9]:
df.head()

   location_id2  location_id  ... HHairPoll17m2 kidneyDz17m2
0            73            6  ...      0.610033     0.024431
1            74            6  ...      0.610033     0.024431
2            73            6  ...      0.610053     0.024451
3            74            6  ...      0.610053     0.024451
4            73            6  ...      0.610073     0.024471

[5 rows x 129 columns]

In [16]:
# changing object datatype to category to save memory

df.location_name = df["location_name"].astype("category")
df.sex_name = df["sex_name"].astype("category")

In [20]:
df[df['sex_name']== 'Male'].describe()

       location_id2   location_id  ...  HHairPoll17m2  kidneyDz17m2
count   3923.000000   3923.000000  ...    3923.000000   3923.000000
mean     277.231965   2871.227122  ...       0.484098      0.058584
std      248.862592   9269.111839  ...       0.326166      0.023328
min        1.000000      6.000000  ...       0.000352      0.019082
25%       73.000000     26.000000  ...       0.066924      0.036362
50%      169.000000    163.000000  ...       0.615553      0.057511
75%      363.000000    211.000000  ...       0.715947      0.074528
max     1037.000000  53432.000000  ...       0.995698      0.118440

[8 rows x 126 columns]

In [17]:
df.describe().T

                count         mean  ...          75%           max
location_id2   7846.0   277.731965  ...   363.000000   1038.000000
location_id    7846.0  2871.227122  ...   211.000000  53432.000000
sex_id         7846.0     1.500000  ...     2.000000      2.000000
population     7846.0   241.443538  ...   617.000000    700.000000
wted_no        7846.0  3923.500000  ...  5884.750000   7846.000000
...               ...          ...  ...          ...           ...
Calcium17m2    7846.0     0.303238  ...     0.377248      1.004433
Fiber17m2      7846.0     9.215312  ...    10.615278     20.951411
leadblood17m2  7846.0     5.013431  ...     5.823395      7.394526
HHairPoll17m2  7846.0     0.484098  ...     0.715952      0.995698
kidneyDz17m2   7846.0     0.058584  ...     0.074529      0.118440

[126 rows x 8 columns]

In [18]:
df.columns.to_list

<bound method IndexOpsMixin.tolist of Index(['location_id2', 'location_id', 'location_name', 'Subnationals',
       'sex_id', 'sex_name', 'population', 'wted_no', 'weighted_no',
       'CVD2017m',
       ...
       'SLTobacco17m2', 'BMI17m2', 'SBP17m2', 'FPG17m2', 'sodium17m2',
       'Calcium17m2', 'Fiber17m2', 'leadblood17m2', 'HHairPoll17m2',
       'kidneyDz17m2'],
      dtype='object', length=129)>

In [14]:
df.shape

(7846, 129)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7846 entries, 0 to 7845
Columns: 129 entries, location_id2 to kidneyDz17m2
dtypes: category(2), float64(119), int64(7), object(1)
memory usage: 7.6+ MB

In [25]:
# Find columns with missing values
cols_with_missing = [col for col in df.columns
                     if df[col].isnull]
print(cols_with_missing)

['location_id2', 'location_id', 'location_name', 'Subnationals', 'sex_id', 'sex_name', 'population', 'wted_no', 'weighted_no', 'CVD2017m', 'CVD2017t', 'pmeat17m', 'pmeat17t', 'rmeat17m', 'rmeat17t', 'Om3FAsm', 'Om3FAst', 'milk17m', 'milk17t', 'Poultry_2016M', 'Poultry_2016T', 'eggs_2016M', 'eggs_2016T', 'Alcohol17m', 'alcohol17t', 'sugarb17m', 'sugarb17t', 'Corn_2016M', 'Corn_2016T', 'potatoes_2016M', 'potatoes_2016T', 'fruits17m', 'fruits17t', 'vegetables17m', 'vegetables17t', 'nutsseeds17m', 'nutsseeds17t', 'wgrains17m', 'wgrains17t', 'legumes17m', 'legumes17t', 'Rice_2016M', 'Rice_2016T', 'SwPot_2016M', 'SwPot_2016T', 'SFAs_2016M', 'SFAs_2016T', 'transfat17m', 'transfat17t', 'PUFAs17m', 'PUFAs17t', 'PAMETs17m', 'PAMETs17t', 'kcal2016m', 'kcal2016t', 'VitAdeficm', 'VitAdefict', 'Childunwt17m', 'ChildUnWt17t', 'discbreastF17m', 'discbreastF17t', 'AmbientPM17m', 'AmbientPM17t', 'smoke17m', 'smoke17t', 'SHSmoke17m', 'SHSmoke17t', 'SLTobacco17m', 'SLTobacco17t', 'BMI17m', 'BMI17t', 'SBP17m', 'SBP17t', 'LDL17_5069m', 'LDL17_5069t', 'LDLc1549_17m', 'LDLc1549_17t', 'FPG17m', 'FPG17t', 'sodium17m', 'sodium17t', 'Calcium17m', 'Calcium17t', 'Fiber17m', 'Fiber17t', 'leadblood17m', 'leadblood17t', 'HHairPoll17m', 'HHairPoll17t', 'kidneyDz17m', 'kidneyDz17t', 'SDI_2016M', 'SDI_2016T', 'boneDen17m', 'boneDen17t', 'SFAs17m', 'SFAs17t', 'Sugar17m', 'Sugar17t', 'Continent', 'CVD2017m2', 'Pmeat17KC2', 'Rmeat17KC2', 'Fish17KC2', 'Milk17KC2', 'Poultry16KC2', 'Eggs16KC2', 'SFA16KC2', 'PUFA17KC2', 'TFA17KC2', 'LDLc17_2', 'PAMETs17m2', 'kcal2016m2', 'VitAdeficm2', 'Childunwt17m2', 'discbreastF17m2', 'AmbientPM17m2', 'smoke17m2', 'SHSmoke17m2', 'SLTobacco17m2', 'BMI17m2', 'SBP17m2', 'FPG17m2', 'sodium17m2', 'Calcium17m2', 'Fiber17m2', 'leadblood17m2', 'HHairPoll17m2', 'kidneyDz17m2']

In [22]:
# Droping rows with NaN values if they are not of much use.

df.dropna(axis = 0, inplace = True)

In [24]:
df.head()

      location_id2  location_id  ... HHairPoll17m2 kidneyDz17m2
6156           923          433  ...      0.013689     0.027274
6157           924          433  ...      0.013689     0.027274
6158           925          434  ...      0.027944     0.030708
6159           926          434  ...      0.027944     0.030708
6160           925          434  ...      0.027964     0.030728

[5 rows x 129 columns]