<a href="https://colab.research.google.com/github/AashiDutt/Data-Analysis-and-Visualization/blob/main/Wine_Review_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hi all, we are going to apply various operations using Pandas on a dataset described below.

But first let us try an create our own dataset using Pandas.

There are two kinds of core objects in Pandas, namely - DataFrame and Series

In [2]:
# Imports
import pandas as pd

In [3]:
# Creating data 
# 1. DataFrame - forms a type of Table

x = pd.DataFrame({'Student1':[50, 21], 'Student2': [65, 78]})
print(x)

   Student1  Student2
0        50        65
1        21        78

In [5]:
# DataFrame can be used for non-integer values as well

y = pd. DataFrame({'Bob': ['Smart'], 'Sue':['Beautiful']})
print(y)

     Bob        Sue
0  Smart  Beautiful

In [7]:
# Change default index

x = pd.DataFrame({'Student1':[50, 21], 'Student2': [65, 78]}, index = ['Maths', 'English'])
print(x)

         Student1  Student2
Maths          50        65
English        21        78

In [14]:
# Saving DataFrame as CSV file (DataFrame.to_csv(path))
x.to_csv('\sample_data')

In [8]:
#2. Series - it is a kind of list.

s = pd.Series([1,2,3,4,5])
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
s = pd.Series([1,2,3,4,5], index= ['A','B', 'C','D','E'], name = 'Product')
print(s)

A    1
B    2
C    3
D    4
E    5
Name: Product, dtype: int64

**About Dataset:**

To identify the wine based on a description that a sommelier could give.

**Dataset**

winemag-data_first150k.csv contains 10 columns and 150k rows of wine reviews.

In [17]:
# Let's get the data
reviews = pd.read_csv("winemag-data_first150k.csv")

In [18]:
# read first 5 rows of data
reviews.head()

   Unnamed: 0 country  ...             variety                   winery
0           0      US  ...  Cabernet Sauvignon                    Heitz
1           1   Spain  ...       Tinta de Toro  Bodega Carmen Rodríguez
2           2      US  ...     Sauvignon Blanc                 Macauley
3           3      US  ...          Pinot Noir                    Ponzi
4           4  France  ...  Provence red blend     Domaine de la Bégude

[5 rows x 11 columns]

In [19]:
reviews.country

0             US
1          Spain
2             US
3             US
4         France
           ...
150925     Italy
150926    France
150927     Italy
150928    France
150929     Italy
Name: country, Length: 150930, dtype: object

In [20]:
reviews['country'][0]

'US'

**Pandas work on row first , column second concept for indexing.**

#Accessor Operators in Pandas ( loc and iloc)

# 1. Index Based Selection (iloc) - selecting data based on its numerical position in dataset.

In [21]:


reviews.iloc[0] # gives all the info about the data present in 1st row of the dataset.

Unnamed: 0                                                     0
country                                                       US
description    This tremendous 100% varietal wine hails from ...
designation                                    Martha's Vineyard
points                                                        96
price                                                        235
province                                              California
region_1                                             Napa Valley
region_2                                                    Napa
variety                                       Cabernet Sauvignon
winery                                                     Heitz
Name: 0, dtype: object

In [22]:
reviews.iloc[:,0]   # all rows of 1st column

0              0
1              1
2              2
3              3
4              4
           ...
150925    150925
150926    150926
150927    150927
150928    150928
150929    150929
Name: Unnamed: 0, Length: 150930, dtype: int64

In [23]:
reviews.iloc[1:3, 0]  # 2nd and 3rd rows

1    1
2    2
Name: Unnamed: 0, dtype: int64

In [24]:
reviews.iloc[-5:] # Get elements from end of dataset

        Unnamed: 0 country  ...          variety                 winery
150925      150925   Italy  ...      White Blend  Feudi di San Gregorio
150926      150926  France  ...  Champagne Blend              H.Germain
150927      150927   Italy  ...      White Blend              Terredora
150928      150928  France  ...  Champagne Blend                 Gosset
150929      150929   Italy  ...     Pinot Grigio          Alois Lageder

[5 rows x 11 columns]

In [25]:
reviews.iloc[[0,1,2],0]  # pass a list of rows you need from 1st column

0    0
1    1
2    2
Name: Unnamed: 0, dtype: int64

# 2. Label based selection(loc) - uses data as index

In [26]:
reviews.loc[0, 'country'] # get 1st entry in country column

'US'

In [27]:
reviews.loc[[0,1,2], 'country']  # pass list of indices for which you need value from country column

0       US
1    Spain
2       US
Name: country, dtype: object

In [28]:
reviews.loc[:, ['country','points','variety']] # returns all rows for the named columns

       country  points             variety
0           US      96  Cabernet Sauvignon
1        Spain      96       Tinta de Toro
2           US      96     Sauvignon Blanc
3           US      96          Pinot Noir
4       France      95  Provence red blend
...        ...     ...                 ...
150925   Italy      91         White Blend
150926  France      91     Champagne Blend
150927   Italy      91         White Blend
150928  France      90     Champagne Blend
150929   Italy      90        Pinot Grigio

[150930 rows x 3 columns]

**Difference between iloc and loc**

**iloc** 



1.   if index = [0:10], returns values of entries 0 to 9.
2.   Can take only integers for indexing



**loc** 

1.   if index =[0:10], returns values of entries from 0 to 10.
2.   takes both integer as well as non- integer values.

In [29]:
reviews.loc[0:5] # returns all rows from index 0 to 5.

   Unnamed: 0 country  ...             variety                   winery
0           0      US  ...  Cabernet Sauvignon                    Heitz
1           1   Spain  ...       Tinta de Toro  Bodega Carmen Rodríguez
2           2      US  ...     Sauvignon Blanc                 Macauley
3           3      US  ...          Pinot Noir                    Ponzi
4           4  France  ...  Provence red blend     Domaine de la Bégude
5           5   Spain  ...       Tinta de Toro                Numanthia

[6 rows x 11 columns]

In [30]:
reviews.iloc[0:5] # returns all rows from index 0 to 4.

   Unnamed: 0 country  ...             variety                   winery
0           0      US  ...  Cabernet Sauvignon                    Heitz
1           1   Spain  ...       Tinta de Toro  Bodega Carmen Rodríguez
2           2      US  ...     Sauvignon Blanc                 Macauley
3           3      US  ...          Pinot Noir                    Ponzi
4           4  France  ...  Provence red blend     Domaine de la Bégude

[5 rows x 11 columns]

**Manipulating Index**

In [35]:
reviews.set_index("country") # set any column as index

         Unnamed: 0  ...                   winery
country              ...
US                0  ...                    Heitz
Spain             1  ...  Bodega Carmen Rodríguez
US                2  ...                 Macauley
US                3  ...                    Ponzi
France            4  ...     Domaine de la Bégude
...             ...  ...                      ...
Italy        150925  ...    Feudi di San Gregorio
France       150926  ...                H.Germain
Italy        150927  ...                Terredora
France       150928  ...                   Gosset
Italy        150929  ...            Alois Lageder

[150930 rows x 10 columns]

In [37]:
# Conditional Selection 
reviews.country == 'Italy'  # returns True or False for each element that satisfies the condition.

0         False
1         False
2         False
3         False
4         False
          ...
150925     True
150926    False
150927     True
150928    False
150929     True
Name: country, Length: 150930, dtype: bool

In [39]:
reviews.loc[reviews.country == "Italy"] # above code can be used in this way as well.

        Unnamed: 0 country  ...          variety                 winery
10              10   Italy  ...         Friulano       Borgo del Tiglio
32              32   Italy  ...       Sangiovese        Abbadia Ardenga
35              35   Italy  ...       Sangiovese               Carillon
37              37   Italy  ...       Sangiovese             Avignonesi
38              38   Italy  ...       Sangiovese       Casina di Cornia
...            ...     ...  ...              ...                    ...
150920      150920   Italy  ...  Champagne Blend                Letrari
150922      150922   Italy  ...            Tocai      Ronchi di Manzano
150925      150925   Italy  ...      White Blend  Feudi di San Gregorio
150927      150927   Italy  ...      White Blend              Terredora
150929      150929   Italy  ...     Pinot Grigio          Alois Lageder

[23478 rows x 11 columns]

In [40]:
# And and OR  operator

reviews.loc[(reviews.country == 'Italy') & (reviews.points >= 90)]

        Unnamed: 0 country  ...          variety                 winery
10              10   Italy  ...         Friulano       Borgo del Tiglio
32              32   Italy  ...       Sangiovese        Abbadia Ardenga
35              35   Italy  ...       Sangiovese               Carillon
37              37   Italy  ...       Sangiovese             Avignonesi
38              38   Italy  ...       Sangiovese       Casina di Cornia
...            ...     ...  ...              ...                    ...
150920      150920   Italy  ...  Champagne Blend                Letrari
150922      150922   Italy  ...            Tocai      Ronchi di Manzano
150925      150925   Italy  ...      White Blend  Feudi di San Gregorio
150927      150927   Italy  ...      White Blend              Terredora
150929      150929   Italy  ...     Pinot Grigio          Alois Lageder

[7945 rows x 11 columns]

In [41]:
reviews.loc[(reviews.country == 'Italy') | (reviews.points >= 90)]

        Unnamed: 0 country  ...             variety                   winery
0                0      US  ...  Cabernet Sauvignon                    Heitz
1                1   Spain  ...       Tinta de Toro  Bodega Carmen Rodríguez
2                2      US  ...     Sauvignon Blanc                 Macauley
3                3      US  ...          Pinot Noir                    Ponzi
4                4  France  ...  Provence red blend     Domaine de la Bégude
...            ...     ...  ...                 ...                      ...
150925      150925   Italy  ...         White Blend    Feudi di San Gregorio
150926      150926  France  ...     Champagne Blend                H.Germain
150927      150927   Italy  ...         White Blend                Terredora
150928      150928  France  ...     Champagne Blend                   Gosset
150929      150929   Italy  ...        Pinot Grigio            Alois Lageder

[63743 rows x 11 columns]

In [42]:
# Built-In Conditional Selectors
# 1. isin - lets you select data whose value is in list of values 

reviews.loc[reviews.country.isin(['Italy', 'France'])]

        Unnamed: 0 country  ...             variety                 winery
4                4  France  ...  Provence red blend   Domaine de la Bégude
10              10   Italy  ...            Friulano       Borgo del Tiglio
13              13  France  ...              Tannat      Vignobles Brumont
18              18  France  ...              Malbec     Château Lagrézette
32              32   Italy  ...          Sangiovese        Abbadia Ardenga
...            ...     ...  ...                 ...                    ...
150925      150925   Italy  ...         White Blend  Feudi di San Gregorio
150926      150926  France  ...     Champagne Blend              H.Germain
150927      150927   Italy  ...         White Blend              Terredora
150928      150928  France  ...     Champagne Blend                 Gosset
150929      150929   Italy  ...        Pinot Grigio          Alois Lageder

[44576 rows x 11 columns]

In [43]:
# 2. isnull and notnull

reviews.loc[reviews.region_2.isnull()]

        Unnamed: 0 country  ...             variety                   winery
1                1   Spain  ...       Tinta de Toro  Bodega Carmen Rodríguez
4                4  France  ...  Provence red blend     Domaine de la Bégude
5                5   Spain  ...       Tinta de Toro                Numanthia
6                6   Spain  ...       Tinta de Toro                 Maurodos
7                7   Spain  ...       Tinta de Toro  Bodega Carmen Rodríguez
...            ...     ...  ...                 ...                      ...
150925      150925   Italy  ...         White Blend    Feudi di San Gregorio
150926      150926  France  ...     Champagne Blend                H.Germain
150927      150927   Italy  ...         White Blend                Terredora
150928      150928  France  ...     Champagne Blend                   Gosset
150929      150929   Italy  ...        Pinot Grigio            Alois Lageder

[89977 rows x 11 columns]

In [44]:
reviews.loc[reviews.price.notnull()]

        Unnamed: 0 country  ...             variety                   winery
0                0      US  ...  Cabernet Sauvignon                    Heitz
1                1   Spain  ...       Tinta de Toro  Bodega Carmen Rodríguez
2                2      US  ...     Sauvignon Blanc                 Macauley
3                3      US  ...          Pinot Noir                    Ponzi
4                4  France  ...  Provence red blend     Domaine de la Bégude
...            ...     ...  ...                 ...                      ...
150925      150925   Italy  ...         White Blend    Feudi di San Gregorio
150926      150926  France  ...     Champagne Blend                H.Germain
150927      150927   Italy  ...         White Blend                Terredora
150928      150928  France  ...     Champagne Blend                   Gosset
150929      150929   Italy  ...        Pinot Grigio            Alois Lageder

[137235 rows x 11 columns]

In [45]:
# Assigning Data
reviews[0] = 'unknown'

In [46]:
reviews[0]

0         unknown
1         unknown
2         unknown
3         unknown
4         unknown
           ...
150925    unknown
150926    unknown
150927    unknown
150928    unknown
150929    unknown
Name: 0, Length: 150930, dtype: object

In [49]:
# reversing index
reviews['designation'] = range(len(reviews),0,-1)

In [57]:
# Summary functions and Maps

reviews.country.describe()

count     150925
unique        48
top           US
freq       62397
Name: country, dtype: object

In [52]:
reviews.points.mean()

87.8884184721394

In [53]:
# list of unique value

reviews.points.unique()

array([ 96,  95,  94,  90,  91,  86,  89,  88,  87,  93,  92,  85,  84,
        83,  82,  81, 100,  99,  98,  97,  80])

In [56]:
# count the values 

reviews.country.value_counts()

US                        62397
Italy                     23478
France                    21098
Spain                      8268
Chile                      5816
Argentina                  5631
Portugal                   5322
Australia                  4957
New Zealand                3320
Austria                    3057
Germany                    2452
South Africa               2258
Greece                      884
Israel                      630
Hungary                     231
Canada                      196
Romania                     139
Slovenia                     94
Uruguay                      92
Croatia                      89
Bulgaria                     77
Moldova                      71
Mexico                       63
Turkey                       52
Georgia                      43
Lebanon                      37
Cyprus                       31
Brazil                       25
Macedonia                    16
Serbia                       14
Morocco                      12
England                       9
Luxembourg                    9
Lithuania                     8
India                         8
Czech Republic                6
Ukraine                       5
South Korea                   4
Switzerland                   4
Bosnia and Herzegovina        4
China                         3
Egypt                         3
Slovakia                      3
Albania                       2
Japan                         2
Montenegro                    2
Tunisia                       2
US-France                     1
Name: country, dtype: int64

In [58]:
# Maps - Returns Series

reviews_points_mean = reviews.points.mean()
reviews.points.map(lambda points: points - reviews_points_mean)

0         8.111582
1         8.111582
2         8.111582
3         8.111582
4         7.111582
            ...
150925    3.111582
150926    3.111582
150927    3.111582
150928    2.111582
150929    2.111582
Name: points, Length: 150930, dtype: float64

In [59]:
# Apply() operator - returns DataFrame by transformation

def remean_points(row):
  row.points = row.points - reviews_points_mean
  return row
reviews.apply(remean_points, axis = 'columns')

        Unnamed: 0 country  ...                   winery        0
0                0      US  ...                    Heitz  unknown
1                1   Spain  ...  Bodega Carmen Rodríguez  unknown
2                2      US  ...                 Macauley  unknown
3                3      US  ...                    Ponzi  unknown
4                4  France  ...     Domaine de la Bégude  unknown
...            ...     ...  ...                      ...      ...
150925      150925   Italy  ...    Feudi di San Gregorio  unknown
150926      150926  France  ...                H.Germain  unknown
150927      150927   Italy  ...                Terredora  unknown
150928      150928  France  ...                   Gosset  unknown
150929      150929   Italy  ...            Alois Lageder  unknown

[150930 rows x 12 columns]

In [60]:
# Grouping and Sorting

# 1. Groupby() 

reviews.groupby('points').points.count()

points
80       898
81      1502
82      4041
83      6048
84     10708
85     12411
86     15573
87     20747
88     17871
89     12921
90     15973
91     10536
92      9241
93      6017
94      3462
95      1716
96       695
97       365
98       131
99        50
100       24
Name: points, dtype: int64

In [61]:
# group points by min price

reviews.groupby('points').price.min()

points
80      5.0
81      5.0
82      5.0
83      4.0
84      4.0
85      4.0
86      4.0
87      6.0
88      6.0
89      7.0
90      5.0
91      8.0
92     11.0
93     12.0
94     15.0
95     20.0
96     20.0
97     42.0
98     50.0
99     65.0
100    65.0
Name: price, dtype: float64

In [63]:
# Manipulating groupby using apply() method

reviews.groupby('winery').apply(lambda df:df.country.iloc[0])

winery
'37 Cellars                 US
1+1=3                    Spain
10 Knots                    US
1000 Stories                US
1040FU                      US
                       ...
Ñandú                Argentina
Único Luis Miguel        Chile
àMaurice                    US
áster                    Spain
Štoka                 Slovenia
Length: 14810, dtype: object

In [64]:
reviews.groupby(['country','province']).apply(lambda df:df.loc[df.points.idxmax()])

                            Unnamed: 0  ...        0
country   province                      ...
Albania   Mirditë                 4642  ...  unknown
Argentina Mendoza Province       65331  ...  unknown
          Other                  10619  ...  unknown
Australia Australia Other        68251  ...  unknown
          New South Wales        54205  ...  unknown
...                                ...  ...      ...
Uruguay   Juanico                 3160  ...  unknown
          Montevideo              3164  ...  unknown
          Progreso                6541  ...  unknown
          San Jose               70157  ...  unknown
          Uruguay               132482  ...  unknown

[455 rows x 12 columns]

In [65]:
# Agg() run a bunch of functions

reviews.groupby(['country']).price.agg([len, min, max])

                            len   min     max
country
Albania                     2.0  20.0    20.0
Argentina                5631.0   4.0   250.0
Australia                4957.0   5.0   850.0
Austria                  3057.0   8.0  1100.0
Bosnia and Herzegovina      4.0  12.0    13.0
Brazil                     25.0  11.0    35.0
Bulgaria                   77.0   7.0    28.0
Canada                    196.0  12.0   145.0
Chile                    5816.0   5.0   400.0
China                       3.0   7.0    27.0
Croatia                    89.0  12.0    65.0
Cyprus                     31.0  10.0    22.0
Czech Republic              6.0  15.0    25.0
Egypt                       3.0   NaN     NaN
England                     9.0  38.0    75.0
France                  21098.0   5.0  2300.0
Georgia                    43.0   9.0    40.0
Germany                  2452.0   5.0   775.0
Greece                    884.0   7.0   120.0
Hungary                   231.0   7.0   764.0
India                       8.0  10.0    20.0
Israel                    630.0   8.0   150.0
Italy                   23478.0   5.0   900.0
Japan                       2.0  24.0    24.0
Lebanon                    37.0  12.0    51.0
Lithuania                   8.0  10.0    10.0
Luxembourg                  9.0  36.0    50.0
Macedonia                  16.0  12.0    25.0
Mexico                     63.0  12.0   108.0
Moldova                    71.0   8.0    42.0
Montenegro                  2.0  10.0    10.0
Morocco                    12.0   6.0    35.0
New Zealand              3320.0   7.0   125.0
Portugal                 5322.0   4.0   980.0
Romania                   139.0   4.0   320.0
Serbia                     14.0  15.0    42.0
Slovakia                    3.0  15.0    16.0
Slovenia                   94.0   7.0    90.0
South Africa             2258.0   5.0   145.0
South Korea                 4.0  11.0    16.0
Spain                    8268.0   4.0   770.0
Switzerland                 4.0  19.0    38.0
Tunisia                     2.0   NaN     NaN
Turkey                     52.0  14.0   120.0
US                      62397.0   4.0  2013.0
US-France                   1.0  50.0    50.0
Ukraine                     5.0  13.0    13.0
Uruguay                    92.0   7.0    60.0

In [66]:
# Multi Indexes

x = reviews.groupby(['country','province']).description.agg([len])

mi = x.index
type(mi)

pandas.core.indexes.multi.MultiIndex

In [69]:
# if you want to reset Index - use reset_index()
y = x.reset_index()

In [70]:
# Sorting

x.sort_values(by = 'len', ascending = True)

                            len
country  province
Greece   Central Greece       1
         Zitsa                1
Cyprus   Pafos                1
Slovenia Slovenska Istra      1
Hungary  Pannon               1
...                         ...
Spain    Northern Spain    4892
France   Bordeaux          6111
Italy    Tuscany           7281
US       Washington        9750
         California       44508

[455 rows x 1 columns]

In [72]:
# Sort index 
x.sort_index()

                             len
country   province
Albania   Mirditë              2
Argentina Mendoza Province  4742
          Other              889
Australia Australia Other    553
          New South Wales    246
...                          ...
Uruguay   Juanico             19
          Montevideo           3
          Progreso             5
          San Jose            15
          Uruguay             18

[455 rows x 1 columns]

In [73]:
# Datatype
# 2 types = dtype(returns dtype for 1 column) and dtypes (returns dtype for every column in the dataset)

reviews.price.dtype

dtype('float64')

In [74]:
reviews.dtypes

Unnamed: 0       int64
country         object
description     object
designation      int64
points           int64
price          float64
province        object
region_1        object
region_2        object
variety         object
winery          object
0               object
dtype: object

In [75]:
# change dtype of a column

reviews.points.astype('int64')

0         96
1         96
2         96
3         96
4         95
          ..
150925    91
150926    91
150927    91
150928    90
150929    90
Name: points, Length: 150930, dtype: int64

In [77]:
# Fill missing data
reviews.region_2.fillna("unknown")

0                      Napa
1                   unknown
2                    Sonoma
3         Willamette Valley
4                   unknown
                ...
150925              unknown
150926              unknown
150927              unknown
150928              unknown
150929              unknown
Name: region_2, Length: 150930, dtype: object

In [80]:
# Replacing values

reviews.region_2.replace("unknown", "USA")

0                      Napa
1                       NaN
2                    Sonoma
3         Willamette Valley
4                       NaN
                ...
150925                  NaN
150926                  NaN
150927                  NaN
150928                  NaN
150929                  NaN
Name: region_2, Length: 150930, dtype: object

In [81]:
# Renaming axis and column names/values

reviews.rename_axis("wines", axis = 'rows').rename_axis("fields", axis = 'columns')

fields  Unnamed: 0 country  ...                   winery        0
wines                       ...
0                0      US  ...                    Heitz  unknown
1                1   Spain  ...  Bodega Carmen Rodríguez  unknown
2                2      US  ...                 Macauley  unknown
3                3      US  ...                    Ponzi  unknown
4                4  France  ...     Domaine de la Bégude  unknown
...            ...     ...  ...                      ...      ...
150925      150925   Italy  ...    Feudi di San Gregorio  unknown
150926      150926  France  ...                H.Germain  unknown
150927      150927   Italy  ...                Terredora  unknown
150928      150928  France  ...                   Gosset  unknown
150929      150929   Italy  ...            Alois Lageder  unknown

[150930 rows x 12 columns]

In [82]:
# renaming points column as score
reviews.rename(columns = {'points': 'score'})

        Unnamed: 0 country  ...                   winery        0
0                0      US  ...                    Heitz  unknown
1                1   Spain  ...  Bodega Carmen Rodríguez  unknown
2                2      US  ...                 Macauley  unknown
3                3      US  ...                    Ponzi  unknown
4                4  France  ...     Domaine de la Bégude  unknown
...            ...     ...  ...                      ...      ...
150925      150925   Italy  ...    Feudi di San Gregorio  unknown
150926      150926  France  ...                H.Germain  unknown
150927      150927   Italy  ...                Terredora  unknown
150928      150928  France  ...                   Gosset  unknown
150929      150929   Italy  ...            Alois Lageder  unknown

[150930 rows x 12 columns]